In [1]:
import pandas as pd
import seaborn as sns

from test_data.svl_mock_data import svl

from IPython.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

In [2]:
svl

,zpid,price,property_tax_rate,time_on_zillow,zestimate,rent_zestimate,lot_size,annual_homeowners_insurance,beds,baths,description,living_area_value,year_built,page_view_count,home_status,monthly_hoa_fee
0,1,429000,1.2,19 days,9999999,9999,7581,9999,3,2,N/A,1792,1984,123,FOR_SALE,88
1,2,409500,1.2,20 days,9999999,9999,7200,9999,3,2,N/A,1584,1983,123,FOR_SALE,88
2,3,410000,1.2,18 days,9999999,9999,7200,9999,3,2,N/A,1710,1980,123,FOR_SALE,88
3,4,459900,1.2,10 days,9999999,9999,7300,9999,3,2,N/A,1980,1986,123,FOR_SALE,88

In [3]:
svl[['price', 'lot_size', 'beds', 'baths', 'living_area_value', 'year_built']].describe()

               price     lot_size  beds  baths  living_area_value  year_built
count       4.000000     4.000000   4.0    4.0           4.000000        4.00
mean   427100.000000  7320.250000   3.0    2.0        1766.500000     1983.25
std     23675.725966   180.111771   0.0    0.0         166.063241        2.50
min    409500.000000  7200.000000   3.0    2.0        1584.000000     1980.00
25%    409875.000000  7200.000000   3.0    2.0        1678.500000     1982.25
50%    419500.000000  7250.000000   3.0    2.0        1751.000000     1983.50
75%    436725.000000  7370.250000   3.0    2.0        1839.000000     1984.50
max    459900.000000  7581.000000   3.0    2.0        1980.000000     1986.00